:root {
  // gradient
  --color-gradient-100: #7C6FCFF7;
  --color-gradient-300: #74AEAAF2;
  --color-gradient-500: #6FCF97;

// fonts
  --color-font-600: rgba(48, 45, 45, 0.30);
  --color-font-500: rgba(48, 45, 45, 0.40);
  --color-font-300: #F2F2F266;
  --color-font-100: #F2F2F2;

  // bg
  --color-bg: #1c1a1a;
}
