:root {
  // gradient
  --color-gradient-100: #7C6FCFF7;
  --color-gradient-300: #74AEAAF2;
  --color-gradient-500: #6FCF97;

// fonts
  --color-font-600: rgba(48, 45, 45, 0.30);
  --color-font-500: #F2F2F24D;
  --color-font-300: rgba(130, 130, 130, 0.12);
  --color-font-100: #F2F2F2;

  // bg
  --color-bg: #1c1a1a;
  --color-download-bg: #302D2D57;
}