@use 'reset';
@use 'colors';
@use 'typography';

body {
  font-family: "Teko", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

  color: var(--color-font-100);
  background-color: var(--color-gradient-300);
}
